@import url("https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
  color: #181b1d;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: #6913c0;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #6913c0;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 24px;
  gap: 28px;
  background: #6913c0;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 18px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 50px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 0 30px;
    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    color: #ffffff;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 930px;
  padding: 92px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-title {
  font-family: Gantari;
  font-weight: 800;
  font-size: 66px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #fffdfd;
}

.home-text {
  font-family: Gantari;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fffdfd;

  padding: 16px 0 24px;
}
.home__google-button_image {
  width: 170px;
  height: 56px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 943px;
    padding: 176px 150px 0px;
    background-image: url("/img/home/Home\ \(1\).png");
  }

  .home-title {
    font-family: Gantari;
    font-weight: 800;
    font-size: 66px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .home-text {
    font-family: Gantari;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding: 24px 0 40px;
  }
}
.why {
  width: 375px;
  height: 1680px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/why/Features\ -\ Reviews.png");
}

.why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.why-item {
  width: 343px;
  height: 240px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 30px 0px #00000040;
}
.why-number {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/Number\ \(1\).png");
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #defc38;
}
.why-number-two {
  background-image: url("/img/why/Number\ \(3\).png");
  color: #defc38;
}
.why-number-three {
  color: #0a6bff;
  background-image: url("/img/why/Number\ \(4\).png");
}
.why-text-bold {
  font-family: Gantari;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 40px 0 16px;
}
.why-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: #7c8085;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 844px;
    padding: 100px 150px 0;
    background-image: url("/img/why/Features\ -\ Reviews\ \(1\).png");
  }
  .why-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .why-item {
    width: 364px;
    height: 240px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    border-radius: 4px;
  }
  .why-number {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/why/Number\ \(1\).png");
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #defc38;
  }
  .why-number-two {
    background-image: url("/img/why/Number\ \(3\).png");
    color: #defc38;
  }
  .why-number-three {
    color: #0a6bff;
    background-image: url("/img/why/Number\ \(4\).png");
  }
  .why-text-bold {
    font-family: Gantari;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding: 40px 0 16px;
  }
  .why-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background: #6913c0;
}

.about-title {
  font-family: Gantari;
  font-weight: 800;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #defc38;
}

.about-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: #ffffff;
  padding: 32px 0px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 150px 120px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .about-title {
    font-family: Gantari;
    font-weight: 800;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .about-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;

    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 692px;
  }
}
.how {
  width: 375px;
  height: 2348px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ play.png");
}

.how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.how-item {
  width: 350px;
  height: 350px;
  padding: 125px 34px 0;
}

.how-text-bold {
  font-family: Gantari;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.how-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  color: #7c8085;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 1106px;
    padding: 100px 150px 0;
    background-image: url("/img/How\ to\ play\ \(1\).png");
  }
  .how-list {
    padding: 60px 21px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
}

.reviews {
  width: 375px;
  height: 485px;
  margin: auto;
  padding: 40px 0 0 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/why/Features\ -\ Reviews.png");
}

.reviews-list {
  padding-top: 32px;
}
.reviews-item {
  margin: 0 4px;
  width: 320px;
  height: 327px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 30px 0px #00000040;
}
.reviews-img {
  margin: auto;
}
.reviews-text-bold {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  height: 176px;
  margin-top: 40px;
}
.reviews-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  color: #7c8085;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 653px;
    padding: 100px 0 0 150px;
    background-image: url("/img/why/Features\ -\ Reviews\ \(1\).png");
  }
  .reviews-list {
    padding-top: 60px;
  }
  .reviews-item {
    margin: 0 12px;
    width: 326px;
    height: 327px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    border-radius: 4px;
  }

  .reviews-text-bold {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;

    height: 176px;
    margin-top: 40px;
  }
  .reviews-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: right;
    color: #7c8085;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-radius: 4px;
  background: #e9d6ff;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Gantari;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: #7c8085;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 100px 150px;
    width: 1440px;
  }
  .faq-container {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .faq-item {
    width: 558px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    border-radius: 4px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background: #ffffff;
}
.features-title {
  color: #181b1d;
}
.features-list {
  padding-top: 32px;
}
.features-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/features/Card\ \(1\).png");
  width: 300px;
  height: 300px;
  padding-top: 84px;
  padding-right: 34px;
  padding-bottom: 42px;
  padding-left: 34px;
  margin: 0 10px;
  color: #defc38;
}
.features-item-two {
  color: #0a6bff;
  background-image: url("/img/features/Card\ \(2\).png");
}
.features-item-three {
  background-image: url("/img/features/Card\ \(3\).png");
}
.features-text-bold {
  font-family: Gantari;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.features-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  text-align: center;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 100px 0px 120px 150px;
  }
  .features-list {
    padding-top: 60px;
  }
  .features-item {
    width: 350px;
    height: 350px;
    padding-top: 113px;
    padding-right: 34px;
    padding-bottom: 32px;
    padding-left: 34px;
    margin: 0 15px;
  }

  .features-text-bold {
    font-family: Gantari;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .features-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 16px;
  }
}
.footer {
  background: #6913c0;

  color: #ffffff;
  padding: 40px 0 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 14px;
}
.footer-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 92px 100px 60px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    align-items: center;

    gap: 360px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 32px;
  }
  .footer-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .footer-copyright {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
.policy-terms-container {
  padding: 100px 16px 40px;
}
.policy-terms-title {
  text-transform: uppercase;
  font-family: Gantari;
  font-weight: 800;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Gantari;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.policy-terms-texts {
  padding-top: 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}
.policy-terms-text-one {
  padding-top: 20px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 124px 100px 60px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-title {
    font-family: Gantari;
    font-weight: 800;
    font-size: 66px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Gantari;
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 16px;
  background: #ffffff;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  color: #181b1d;
}
.cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cookie-button {
  border: none;
  background: #e9d6ff;
  border: 1px solid #6913c0;
  width: 167.5px;
  border-radius: 4px;

  padding: 16px 0;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #6913c0;
}
#accept-cookies {
  background: #6913c0;
  color: #ffffff;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;

    width: 837px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
